* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


header{
    margin: 2px solid;
    background-color: aqua;
    background-image: url(assets/banner-bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header1 {
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    padding: 1rem 8rem 0rem;
    color: aliceblue;
    align-items: center;
}

.header2{
    border: 2px solid;
    padding: 1rem 8rem 1rem;
    color: aliceblue;
}

.header2 button{
    border-radius: 3rem;
    background-color: #00ffad;
    color: black;
    padding: .5rem;
    margin: 2rem 0rem 0rem;
}

.textheader2{
    padding: 2rem 0rem 0rem;
}

.main{
background-color: #fff;
}

.div2 img{
    width: 20rem;
}

.div3 img{
    width: 20rem;
}

.div1{
    display: flex;
    border: 2px solid;
    flex-direction: column;
    padding: 2rem 8rem 2rem;
}

.article1{
    display: flex;
    justify-content: center;
}

.assets1{
    display: flex;
    justify-content: space-around;
}

.div2{
    display: flex;
    justify-content: space-around;
    padding: 2rem 8rem 2rem;
    border: 2px solid;
}

.div3{
    display: flex;
    justify-content: space-around;
    padding: 2rem 8rem 2rem;
    border: 2px solid;
}

.div4{
    display: flex;
    border: 2px solid;
    flex-direction: column;
    padding: 2rem 8rem 2rem;
    border: 2px solid;
}

.tittlediv4{
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.cardsdiv4{
    display: flex;
    justify-content: space-around;
}

.cardsdiv4 h3{
    font-size: 2rem;
    padding: 0rem 0rem 2rem;
}

.div5{
    display: flex;
    justify-content: space-around;
    border: 2px solid;
    padding: 2rem 8rem 2rem;
}

.main button{
    border-radius: 3rem;
    background-color:#fff;
    padding: .7rem;
    color: #fff;
    color: #192440;
    border-color: #192440;
}

.price1{
    display: flex;
    align-items: baseline;
}

.price1 p{
    font-size: 1.5rem;
}

span{
    font-size: 5rem;

}

.textprice{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0rem 0rem;
    text-align: center;
}

.footer{
    border: 2px solid;
    padding:  2rem 0rem 0rem;
}

.footer h2{
    padding: 0rem 0rem 1rem;
}

.Lorem{
    padding: 0rem 0rem 1.5rem;
}

.Lorem2 p{
    padding: 0rem 0rem .5rem;
}

.footer1{
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem 2rem;
    background-image: url(assets/contact-bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.Data1{
    display: flex;
    justify-content: space-between;
    padding: 0rem 0rem 0rem;
}

.name{
    padding: 0rem 1rem 1rem;
    color: #00ffad;
}

.footer input{
   padding: .5rem;
   border-radius: .3rem;
   background: transparent;
   border-color:#00ffad ;
}

.Email{
    padding: 0rem 1rem 1rem;
    color: #00ffad;
}

.Message{
    padding: 0rem 1rem 1rem;
    width: 100%;
    border:2px solid;
    color: #00ffad;
}

.Message textarea{
    background: transparent;
    border-radius: .3rem;
    padding: .5rem;
    width: 100%;
    border-color:#00ffad ;
}

.ultimatefooter{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    padding: 2rem 8rem 2rem;
    background-color: #192440;
    color: #fff;
}

.ultimatefooter a{
    background-color: #fff;
    border-radius: 1rem;
    font-size: 1.5rem;
}

.Message button{
    width: 100%;
    background-color: #00ffad;
    color: black;
}